/* Custom styles added to demo */

.footer {
    display: none;
}

.first-entry.home-info {
    display: none;
}

.post-content p {
    text-indent: 2em;
}

iframe {
    border-radius: var(--radius) !important;
}

.entry-cover img {
    border: 1px solid var(--border);
}
